Redirect permanent "/s1020995/fsm.html" "/s1020995/stable/index.html"
Redirect "/s1020995/index.html" "/s1020995/fsmworkbench/index.html"
Redirect "/s1020995/atm.html" "/s1020995/stable/atm.html"

<ifModule mod_expires.c>
ExpiresActive On
ExpiresDefault A86400

# Expires after 1 month
ExpiresByType image/png A2592000
ExpiresByType image/svg A2592000

# Expires after 1 day
ExpiresByType text/css A86400
ExpiresByType application/x-javascript A86400
</ifModule>