.menu {
	margin-top: 2px;
}
body {
	margin-left: 15px;
}
.intro {
	font-family: 'Ek Mukta', sans-serif;
	margin-top: 20px;
	margin-bottom: 10px;
	line-height: 1.7;
}

.screenshots img {
	width: 200px;
}

.topstart{
	margin-top: 30px;
	font-size: large;
}

h2 {
	font-size: 1.3em;
	margin-bottom: 0px;
}