<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="UTF-8">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<title>Informatics 1: CL - Finite State Machines </title>
	    <link href='http://fonts.googleapis.com/css?family=Ek+Mukta:300' rel='stylesheet' type='text/css'>
	    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	    <link rel="stylesheet" href="index.css">
	    <link rel="shortcut icon" href="img/icons/linetool.png" />
	    <script defer src="analytics.js"></script>
	    <script type="application/ld+json">
			{
			  "@context" : "http://schema.org",
			  "@type" : "WebApplication",
			  "name" : "CAL - FSM",
			  "image" : "http://homepages.inf.ed.ac.uk/s1020995/screenshot2.png",
			  "author" : {
			    "@type" : "Person",
			    "name" : "Matthew Hepburn"
			  },
			  "datePublished" : "2015-08-20",
			  "applicationCategory" : "Education",
			  "browserRequirements" : "HTML5 and JavaScript",
			  "operatingSystem" : "Windows + *nix",
			  "description" : "An educational tool to simulate Finite State Machines. Includes exercises for the user to solve.",
			  "isFamilyFriendly": true,
			  "keywords": "FSM, Finite State Machine, webapp, html5, Computation and Logic, INF1CL, simulation, exercises, problems"
			}
		</script>
	</head>
	<body data-pageid="66edc107cfea45ba996232f0f130252e"
	data-analytics-path = "{{ addresses.analyticsPath }}">
	    <div class="menu">
	    	<a class='pure-button'>Home</a>
	    	<a href="about.html" class='pure-button'>About</a>
	    	<a href="help.html" class='pure-button'>Help</a>
	    	<a href="privacy.html" class="pure-button">Privacy</a>
		</div>
		<div class="topstart"><a href='{{ ex1 }}' class="pure-button">Exercises</a>  <a href='create.html' class="pure-button">Create</a> </div>
		<div class ="intro">
		<h2>What is this app?</h2>

		<p>This app uses a set of exercises to introduce Finite State Machines (FSMs). Concepts are introduced gradually, without assuming prior knowledge of the subject. The exercises include creating and modifying machines, as well as answering questions about machines.  Simple deterministic machines lead on to non-determinism, ε-transitions and transducers.</p>



		<p>In addition to the exercises, the <a href="create.html">Create</a> tool allows users to build and test their own FSMs.</p>

		<p>The app runs in the browser with no plugins required. It is free and open-source.</p>

		<div class="screenshots"><img alt="Example screenshot" src="img/screenshot1.png"><img alt="Example screenshot" src="img/screenshot2.png"><img alt="Example screenshot" src="img/screenshot3.png"></div>

		<h2>Who is this app for?</h2>
		<p>The app was designed for 1st year undergraduates but will be useful to anyone who wants to learn more about Finite State Machines, whether they have used them before or not.</p>

		<p>Source code available on <a href="///github.com/MatthewHepburn/CAL">GitHub</a>.</p>

		<h2>About this version</h2>
		<p>This version of the application is under active development. An older version is available <a href="/s1020995/stable/index.html">here</a>.

		<h2>Other Questions</h2>
		<p>Questions, suggestions, comments or requests welcome at s1020995@<span style="display: none">filler.avoid.spam.</span>sms.ed.ac.uk</p>
		</div>
	</body>
	<footer>This website <a href="privacy.html">stores data on your device using local storage.</a></footer>
</html>
