<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="UTF-8">
    	<title>Privacy Policy</title>
        <link href='http://fonts.googleapis.com/css?family=Ek+Mukta:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <link rel="stylesheet" href="index.css">
        <script defer src="analytics.js"></script>
        <script defer src="privacy.js"></script>
        <link rel="shortcut icon" href="img/icons/linetool.png" />
        <style type="text/css">
            table{
                border: black;
                border-style: solid;
                border-width: thin;
                border-collapse: collapse;
            }
            tr{
                border: black;
                border-style: solid;
                border-width: thin;
            }
            td{

                border: black;
                border-style: solid;
                border-width: thin;
            }

        </style>
    </head>
    <body data-pageid="d336b20350294767ac9adbe972ef56f1"
    data-analytics-path = "{{ addresses.analyticsPath }}">
        <div class="menu">
        	<a href="index.html" class="pure-button">Home</a>
        	<a href="about.html" class="pure-button">About</a>
        	<a href="help.html" class="pure-button">Help</a>
            <a class="pure-button">Privacy</a>
    	</div>
    	<div class ="intro" style="width: 95%">
            <h1>Privacy Policy</h1>
        	<h2>About this policy</h2>
            <p>This policy refers only to the FSM workbench and associated pages located at the URL http://homepages.inf.ed.ac.uk/s1020995/ and its subdirectories. This policy covers only data collected by the author of this content – additional data may be recorded by the operator of the web server. For information regarding data collected by the School of Informatics, see the school's <a href="http://www.inf.ed.ac.uk/about/cookies.html">policy on cookies and logging.</a></p>

            <h2>What data is collected</h2>
            <p><b>A unique user identifier</b> – each visitor to the website who has JavaScript and HTML local storage enabled in their web browser is assigned a unique identifier which is both stored in their web browser and transmitted to the server. These are both standard technologies used to enable interactive websites. This unique identifier contains no personal information, it is simply a randomly generated string of numbers and characters, such as '<code>fa2238e5a55c4690bf342dcc851a0f17</code>'. There is no way to obtain the identity of a user from this data.</p>

            <p><b>A partial IP address</b> – each visitor to the website has the first three octets of their device's IP address recorded. The final octet of the address is discard. E.g. for a device with IP address '<code>74.125.224.72</code>', the server would only record '<code>74.125.224</code>'. Note that the full IP address of each user is available to the server as part of the process of providing web pages to the user, as this is necessary for the server to be able to transmit data to the user.</p>
            <p><b>Data on how users interact with this website</b> – this includes but is not limited to:
            <ul>
                <li>which pages on this website they visit</li>
                <li>how long they spend on each page</li>
                <li>which questions they answer</li>
                <li>their answers to questions</li>
                <li>how frequently they use some elements of the website interface</li>
            </ul>
            </p>
            <p><b>Any other data that users submit</b> – although this website makes no attempt to collect or process sensitive or personally identifying data, any such data that is submitted by a user (e.g. through the use of email) may be stored and processed.<p>

            <h2>How this data is used</h2>
            <p>This data is used to make improvements to the website. Analysing the data that has been collected can reveal patterns in the way that people interact with the website, which can help the developer to idenify changes that would make the website better. For example, the data may reveal that there are some questions which few users answer correctly, which may mean that the question is too difficult or that it is not explained clearly. The <a href="stats.html">stats page</a> shows further examples of how the collected data is processed.</p>

            <h2>Data stored on users' devices</h2>
            <p>A small amount of data is stored within the user's web browser if that browser premits local storage. This data includes settings that the user has selected, allowing them to persist across visits to the website. It also includes which questions a user has answered correctly, as a way of helping users to track their progress. </p> <p id="show-data" style="display:none"></p><p id="clear-data" style="display:none"></p>

            <h2>Other issues</h2>
            <p>For any query not answered by this policy, please email the developer at s1020995@<span style="display: none">filler.avoid.spam.</span>sms.ed.ac.uk</p>
    	</div>
    </body>
</html>