<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <style>
    div.question-text {
      margin-bottom: 6px;
      font-family: 'Ek Mukta',sans-serif;
    }
    </style>
    <link href='http://fonts.googleapis.com/css?family=Ek+Mukta:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="{{ addresses.cssAddress }}fsm2.css">
  </head>

  <body class="canvas" data-machinelist='{{ machinelist }}'
  data-options='{{ options }}'
  data-question = '{{ question }}'
  data-iconaddress = '{{ addresses.iconAddress }}'
  data-pageid = '{{ pageID }}'>
  <div class="maindiv">
   <div class="menu">
      <a href="../index.html" class='pure-button'>Home</a>
      <a href="../about.html" class='pure-button'>About</a>
      <a href="../help.html" class='pure-button'>Help</a>
      <a {{ previous }} class='pure-button'>Previous</a>
      <a {{ next }} class='pure-button' id='nav-next'>Next</a>
    </div>
  	<div class="question">
      <div class="question-text">{{ questionHTML }}</div>
      {%- if lengths -%}
        <form class="pure-form-aligned pure-form qformblock" name="qform">
          {%- for len in lengths -%}
            <div class="pure-control-group"><label for="qf{{ loop.index0 }}">{{ len }} symbols</label><input type="text" class="qform" ,="" id="qf{{ loop.index0 }}" value="{{ prefill[loop.index0] }}"></div>
          {% endfor %}
          <input type=image src='{{ addresses.iconAddress }}spacer.gif'>
          </form>
      {% endif %}
      {%- if hasCheck -%}
      <div class="button-div"><button id="check-button" class="pure-button" type="submit">Check</button></div>
      {% endif %}
    </div>
    <svg id="m1" viewBox="0 0 1000 600" preserveAspectRatio="xMidYMid meet">
      <g class="links"></g>
      <g class="nodes"></g>
          <defs>
            <marker id="end-arrow" viewBox="0 -10 20 20" refX="7" markerWidth="5" markerHeight="5" orient="auto"><path d="M0,-10L20,0L0,10" fill="#000"></path></marker>
            <marker id="highlight-arrow" viewBox="0 -10 20 20" refX="7" markerWidth="5" markerHeight="5" orient="auto"><path d="M0,-10L20,0L0,10" fill="green"></path></marker>
        </defs>
    </svg>
    <div class="rate"> Good question? <br><a id='rate-yes' class='rate-button pure-button'>Yes</a><a id='rate-no' class='rate-button pure-button'>No</a> </div>
  <div class='survey'><a href="https://www.surveymonkey.com/r/L33JCRN">Take survey</a></div>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js"></script>
  <script defer src="{{ addresses.jsAddress }}fsm2.js"></script>
  </div>
  {% if showSidebar %}
  <div class="sidebar">
    {% for q in questionList %}
      {% if q == pageID-%}
        <a class="sidebar-thisq">&#x25B6 {{ questionDict[q]["name"] }}</a>
      {% else %}
        <a href="{{ questionDict[q]['url'] }}" class="sidebar-otherq">{{ questionDict[q]["name"] }}</a>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}
  </body>
</html>