<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <style>
    div.question-text {
      margin-bottom: 6px;
      font-family: 'Ek Mukta',sans-serif;
    }
    </style>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ek+Mukta:300" type="text/css">
    <link rel="stylesheet" href="{{ addresses.pureCSSAddress}}">
    <link rel="stylesheet" href="{{ addresses.cssAddress }}fsm.css">
  </head>

  <body class="canvas" data-machinelist='{{ machinelist }}'
  data-options='{{ options }}'
  data-question = '{{ question }}'
  data-iconaddress = '{{ addresses.iconAddress }}'
  data-pageid = '{{ pageID }}'>
  <div class="maindiv">
   <div class="menu">
      <a href="../index.html" class='pure-button'>Home</a>
      <a href="../about.html" class='pure-button'>About</a>
      <a href="../help.html" class='pure-button'>Help</a>
      <a {{ previous }} class='pure-button'>Previous</a>
      <a {{ next }} class='pure-button' id='nav-next'>Next</a>
    </div>
  	<div class="question">
      <div class="question-text">{{ questionHTML }}</div>

      {%- if sequences -%}
      {# does-accept questiont type #}
      <table id="does-accept-table">
        <tbody>
            {%- for s in sequences -%}
            <tr class="does-accept-cb"><td><input class="does-accept-cb" type="checkbox" value="{{ s }}" id="does-accept-checkbox-{{ loop.index0 }}">{{ s }}</td><td class="table-space"> </td><td id="feedback-{{ loop.index0 }}"></td><td id="does-accept-trace-{{ loop.index0 }}" class='does-accept-show-trace'></td></tr>
            {% endfor %}
        </tbody>
      </table>
      {% endif %}

      {%- if lengths -%}
      {# give-list questiont type #}
        <form class="pure-form-aligned pure-form qformblock" name="qform">
          {%- for len in lengths -%}
            <div class="pure-control-group">
              <label class="give-list-label" for="qf{{ loop.index0 }}">{{ len }} symbols</label>
              <input type="text" class="qform" autocomplete="off" id="qf{{ loop.index0 }}" value="{{ prefill[loop.index0] }}">
              <label for="qf{{ loop.index0 }}" class="give-list-show-trace" id="give-list-show-trace-{{ loop.index0 }}">trace</label>
              <label for="qf{{ loop.index0 }}" class="give-list-feedback" id="give-list-feedback-{{ loop.index0 }}"> </label>
            </div>
          {% endfor %}
          <input type=image src='{{ addresses.iconAddress }}spacer.gif'>
          </form>
      {% endif %}

      {%- if shouldAccept -%}
      {# satisfy-list question type #}
        <div class="table-div">
          <table class="qtable">
            <tbody>
              <tr><th>Accept</th><th class="table-space"> </th><th>Reject</th><th class="table-space"> </th></tr>
              {%- for n in range(0, longestLength) -%}
                {%- if n < shouldAccept|length -%}
                  <tr><td class="satisfy-list" id="td-acc-{{ loop.index0}}"><a>'{{ shouldAccept[loop.index0]}}'</a></td> <td id="td-acc-adj-{{ loop.index0}}"></td>
                {%- else -%}
                  <tr><td></td><td></td>
                {%- endif -%}
                {%- if n < shouldReject|length -%}
                  <td class="satisfy-list" id="td-rej-{{ loop.index0 }}"><a>'{{ shouldReject[loop.index0]}}'</a></td> <td id="td-rej-adj-{{ loop.index0}}"></td></tr>
                {%- else -%}
                  <td></td><td></td></tr>
                {%- endif -%}
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}

      {%- if hasCheck -%}
      <div class="button-div"><button id="check-button" class="pure-button" type="submit">Check</button></div>
      {% endif %}

      {%- if inputAlphabet -%}
      {# add input buttons for give-input #}
      <div class="button-div">
        {%- for char in inputAlphabet -%}
        <button  class="give-input-button pure-button">{{char}}</button>
        {%- endfor -%}
        <button class="give-input-reset pure-button">Reset</button>
      </div>

      {%- endif -%}

    </div>
    <div id="machine-div">
    <svg id="m1" width="{{ svgWidth }}" height="{{ svgHeight }}" viewBox="0 0 {{svgWidth}} {{svgHeight}}" preserveAspectRatio="xMinYMin meet" class={{svgClasses}}>
      <g class="links"></g>
      <g class="nodes"></g>
      <defs>
        <marker id="end-arrow" viewBox="0 -10 20 20" refX="7" markerWidth="5" markerHeight="5" orient="auto"><path d="M0,-10L20,0L0,10" fill="#000"></path></marker>
        <marker id="highlight-arrow" viewBox="0 -10 20 20" refX="7" markerWidth="5" markerHeight="5" orient="auto"><path d="M0,-10L20,0L0,10L0,-10" fill="green"></path></marker>
      </defs>
    </svg>
    {%- if questionType == "minimize-table" -%}
      <div class="minimize-table">
        <table>
          <thead>
            <tr><th id="pair-header">State pair</th><th id="distinguishable-header">Distinguishable?</th><th id="merge-header"> </th>
          </thead>
          <tbody id='minimize-table-body'></tbody>
        </table>
        <div class = "message-div">&nbsp</div>
        <div class="button-div">
           <button id="check-button" class="pure-button" type="submit">Check</button>
           <button class="reset-button pure-button">Reset</button>
        </div>
      </div>
    {%- endif -%}
    </div>
    </div>
  {% if showSidebar %}
  <div class="sidebar">
    {% for q in questionList %}
      {% if q == pageID-%}
        <a id="qid-{{ q }}" class="sidebar-thisq">&#x25B6 {{ questionDict[q]["name"] }}</a>
      {% else %}
        <a id="qid-{{ q }}" href="{{ questionDict[q]['url'] }}" class="sidebar-otherq">{{ questionDict[q]["name"] }}</a>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}
  <script defer src="{{ addresses.d3Address }}"></script>
  <script defer src="{{ addresses.jsAddress }}model.js"></script>
  <script defer src="{{ addresses.jsAddress }}fsm.js"></script>
  </body>
</html>