<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    	<title>CAL Stats </title>
        <link href='http://fonts.googleapis.com/css?family=Ek+Mukta:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <link rel="stylesheet" href="stats.css">
        <link rel="shortcut icon" href="img/icons/linetool.png" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.1.1/d3.js"></script>
    </head>
    <body data-pageid="aa01440bc6da450383379cc04b568b37"
    data-analytics-path = "{{ addresses.analyticsPath }}">
        <div class="menu">
        	<a href='index.html' class='pure-button'>Home</a>
        	<a href="about.html" class='pure-button'>About</a>
        	<a href="help.html" class='pure-button'>Help</a>
            <a href="privacy.html" class="pure-button">Privacy</a>
    	</div>
    	<div id ="options">
            <a onclick="javascript:display.drawDateBarChart()">Daily Uniques</a>
            <a onclick="javascript:display.drawPageVisitsBarChart()">Uniques by Page</a>
            <a onclick="javascript:display.drawPageAnswersBarChart()">Answers by Question</a>
            <a onclick="javascript:display.drawPageUserOutcomesBarChart()">User Outcomes by Question</a>
            <a onclick="javascript:display.drawPageRatingBarChart()">Ratings by Question</a>
            <a onclick="javascript:display.drawTest001BarChart()">Test001</a>
        </div>
        <div id = "title"></div>
        <div id ="canvas-div"></div>
        <div id = "x-axis-title"></div>
        <div id = "footer">
            <div id = "timestamp"></div>
            <div id = "logsize"></div>
        </div>
        <script defer src="stats.js"></script>
    </body>
</html>