#title {
	text-align: center;
	font-size: large;
	margin: 7px;
}

#x-axis-title {
	text-align: center;
	font-size: small;
	margin: 5px;
}

#options a {
	margin: 5px;
	margin-right: 10px;
	text-decoration: underline;
	color: steelblue;
	font-size: small;
}

#options a:hover {
	color: #0089FA;
}



.menu {
	margin-top: 2px;
	margin-left: 4px;
}
body {
	margin-left: 15px;
}

rect {
  fill: steelblue;
}

rect:hover {
	fill: #0089FA;
}

rect.total{
	fill: #C23D3D;
}

rect.total:hover{
	fill: #EC3636;
}

.blue{
	font-style: normal;
	color: steelblue;
}

.red{
	font-style: normal;
	color: #C23D3D;
}

text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tick text {
	fill: black;
}

#x-axis-title {
	text-anchor: center;
	fill: black;
}

.right-label {
	text-anchor: start;
	fill: black;
}

#timestamp {
	font-size: 75%;
	font-family: monospace;
	margin-top: 80px;
	color: grey;
}
