<!DOCTYPE html>
<head>
	<title>Informatics 1: CL - Finite State Machines </title>
    <link href='http://fonts.googleapis.com/css?family=Ek+Mukta:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="menu">
    	<a class='pure-button'>Home</a>
    	<a href="about.html" class='pure-button'>About</a>
    	<a href="help.html" class='pure-button'>Help</a>
    	<a  href='{{ q1 }}' class='pure-button'>Next</a>
	</div>
	<div class ="intro">
	This tool is designed to help students of Informatics 1: Computation and Logic learn about Finite State Machines.<br> It contains a series of problems, including some based on past exam papers.<br> Please fill out <a href="https://www.surveymonkey.com/r/L33JCRN">this quick survey </a> when you are done to help me to improve the tool.
	</div>
	<a href='{{ q1 }}' class="pure-button">Start</a>
	<div class="screenshots"><img alt="Example screenshot" src="screenshot1.png"><img alt="Example screenshot" src="screenshot2.png"><img alt="Example screenshot" src="screenshot3.png"></div>
</body>
<html>