<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FSM Prototype</title>
    <link href='http://fonts.googleapis.com/css?family=Ek+Mukta:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="fsm.css">   
  </head>

  <body class="canvas" data-nodes='{{ nodes }}' 
  data-links='{{ links }}' 
  data-options='{{ options }}' 
  data-question = '{{ question }}'>
   <div class="menu">
      <a href="index.html" class='pure-button'>Home</a>
      <a href="about.html" class='pure-button'>About</a>
      <a href="help.html" class='pure-button'>Help</a>
      <a {{ previous }} class='pure-button'>Previous</a>
      <a {{ next }} class='pure-button'>Next</a>
    </div>
  	<div class="question"></div>
    <div class="rate"> Good question? <br><a id='rate-yes' class='rate-button pure-button'>Yes</a><a id='rate-no' class='rate-button pure-button'>No</a> </div>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js"></script>
  <script src="fsm.js"></script>
</html>