<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <title>Help</title>
        <link href='http://fonts.googleapis.com/css?family=Ek+Mukta:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <link rel="stylesheet" href="help.css">
        <link rel="shortcut icon" href="img/icons/linetool.png" />
        <script defer src="analytics.js"></script>
    </head>
    <body data-pageid="0e30ee52bc9640c3a1672bea06854eb0" data-analytics-path = "{{ addresses.analyticsPath }}">
        <div class="menu">
            <a href="index.html" class='pure-button'>Home</a>
            <a href="about.html" class='pure-button'>About</a>
            <a class='pure-button'>Help</a>
            <a href="privacy.html" class="pure-button">Privacy</a>
        </div>

        <div class="help" id="toolbar">
        	<h2>Help</h2>
            <div class="icon"><img class="toolpic" src="img/icons/nodetool.svg" width="40" height="40" alt=""><div class="text">New state tool - select this and click on an empty part of the canvas to create new nodes.</div></div>
            <div class="icon"><img class="toolpic" src="img/icons/linetool.svg" width="40" height="40" alt=""><div class="text">Link tool - select this and click and drag from one state to another to link those states together. Simply click a state to <br>create a link from that state to itself.</div></div>
            <div class="icon"><img class="toolpic" src="img/icons/texttool.svg" width="40" height="40" alt=""><div class="text">Text tool - select this and click on a state to rename it. Clicking on a link allows you to change the transition condition of <br>that link, by checking all symbols that apply to the transition.</div></div>
            <div class="icon"><img class="toolpic" src="img/icons/acceptingtool.svg" width="40" height="40" alt=""><div class="text">Accepting tool - select this and click on a state to toggle whether it is an accepting state or not. Accepting states are <br>shown with a double border.</div></div>
            <div class="icon"><img class="toolpic" src="img/icons/deletetool.svg" width="40" height="40" alt=""><div class="text">Delete tool - select this and click on a state or a link to remove it.</div></div>
        </div>
        <div class="help" id="howdoi">
        </div>

    </body>
</html>