svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link:hover{
  stroke-width: 6px !important;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

circle.node.accepting {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.nodename {
  text-anchor: middle;
  font-weight: bold;
}

.contextmenu {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 200px;
    border: 1px #ccc solid;
    box-shadow: #333 2px 2px 4px;
    padding: 2px 2px 2px 2px;
    font-family: arial, helvetica, sans-serif;
}

.button {
  font-family: arial, helvetica, sans-serif;
  margin: 2px;
}

.button:hover
{
  background-color: #83aed9;
}

.qform.correct {
  background-color: #22BB22;
}

.qform.incorrect {
  background-color: #BB2222;
}

.feedback {
  display: inline;
}