svg {
  margin-top: 20px;
  background-color: #FFF;
  cursor: default;
  border: solid black 1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  margin-left: 15px;
  margin-top: 15px;
}

input.qform{
  margin-top: 3px;
  margin-bottom: 4px;
}

div.question-text{
  margin-bottom: 6px;
}

.qbutton{
  margin-left: 314px;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link:hover{
  stroke-width: 6px !important;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

circle.node.accepting {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.nodename {
  text-anchor: middle;
  font-weight: bold;
}

.contextmenu {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 200px;
    border: 1px #ccc solid;
    box-shadow: #333 2px 2px 4px;
    padding: 2px 2px 2px 2px;
    font-family: arial, helvetica, sans-serif;
}

.button {
  font-family: arial, helvetica, sans-serif;
  margin: 2px;
}

.button:hover
{
  background-color: #83aed9;
}

.qform.correct {
  background-color: #22BB22;
}

.qform.incorrect {
  background-color: #BB2222;
}

.feedback {
  display: inline;
}

.control-rect {
  pointer-events: all;
  z-index: 3;
  transform: translate(0px);
}

.control-rect:hover {
  transform: translate(-1px);
  stroke: rgb(120,30,30) !important;
}

.control-rect.selected{
  fill-opacity: 0.2;
  transform: translate(0px);
}

.tracecontrol-rect {
  pointer-events: all;
  z-index: 3;
  transform: translate(0,0px);
}

.tracecontrol-rect:hover {
  transform: translate(0, 1px);
  stroke: rgb(120,30,30) !important;
}

.node.dim{
  fill: rgb(196, 184, 184) !important;
  stroke: black !important;
}

.node.highlight{
  stroke: black !important;
  stroke-width: 3 !important;
}

.machine-input {
  font-size: x-large;
  font-family: sans-serif;
  font-style: normal;
}

i {
  font-style: normal;
}

i.dim {
    opacity: 0.3;
    transition: color 0.75s;
}

i.highlight {
  color: crimson;
  text-decoration: underline;
  transition: color 0.75s;
}